<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Game Configuration</h2>

    <section class="example-section">
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Number of columns" [(ngModel)]="nbColumns">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Number of rows" [(ngModel)]="nbRows">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Initial fill %" [(ngModel)]="initialFillPercent">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Update interval ms" [(ngModel)]="updateInterval">
      </mat-form-field>
    </section>
    <section>
      <button mat-raised-button class="example-margin">Reset</button>
      <button mat-raised-button class="example-margin" (click)="onPlayStopClick()">{{playStopLabel}}</button>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

  </mat-card-content>
</mat-card>
